[
    {
		"_key": "hotline/database",
		"_value": {
            "host": "127.0.0.1"
		}
	},
	{
		"_key": "hotline/api/database",
		"_value": {
            "name":     "api",
            "user":     "api",
            "password": "api"
		}
	}
]
